*{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.fix{
  clear: both;
  overflow: hidden;
}

.section-padding{
  padding: 50px 0;
}

.wrapper{
  width: 1170px;
  margin: 0 auto;

}

header{
  overflow:hidden;
  height: 100vh;
}

/*BackgroundVideoyangbawah*/
.darken{
  filter:brightness(90%)
 }
.logogoogledll{
  position:absolute;
  top: 40%;
  text-align: center;
  left: 44%;
  width: 12%;
}
/*Backgroundvideoyangbawah*/



/*SEMUA SETTINGAN VIDEO BACGROUND*/
.vid-bg{
  width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(90%)
}
/*SEMUA SETTINGAN VIDEO BACGROUND*/



/*LOGO MID*/
.welcome-text{
  position:absolute;
  top: 4.1%;
  text-align: center;
  left: 36.2%;
  
}
.welcome-text p{
  color: #fff;
  font-size: 12px;
  
}
/*LOGO MID*/


/*LOGO FACEBOOK DLL*/
.logofacebookdll{
  text-decoration: none;


}

.logofacebookdll a{
  font-size: 17px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  background-color: #282828;
  color: white;
  padding: 5px;
  padding-bottom: 3px;
  border-radius: 10px;
  
}
/*LOGO FACEBOOK DLL*/

.logoriot{
    position: relative;
    margin-top: 38px;
    align-items: center;
    text-align: center;
    left: 45.9%;
    width: 8%;
    overflow: hidden;
    filter: brightness(50%);
}


.copyright{
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  align-items: center;
  text-align: center;
 
  justify-content: center;
}
.copyright p{
    font-size: 12px;
    position: relative;
    margin-top: 27px;
   
    filter: brightness(50%);
    
}


/*EFFECT HOVER IN IMAGE*/

  .blur:hover {
    filter: brightness(80%)
  }
  
  .cards{
    filter: brightness(92%);
  }

  .cards:hover .card-title {
    visibility: visible;
  }
  
  .cards:hover .card-title i {
    visibility: visible;
  }

  .img-zooming {
   
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-zooming img {
    transition: transform .4s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-zooming:hover img {
    transform: scale(1.1);
  }
/*EFFECT HOVER IN IMAGE*/



.content{
  text-align: center;
}

.content h1{
  font-size: 160px;
  color: whitesmoke;
  font-weight: 600;
}

.content a{
  text-decoration: none;
  display: inline-block;
  color: aliceblue;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top:20px;
  
}

/*WAVE*/
.curvedbottom{
  background:linear-gradient(#0066ff,#52c68e);
  color: #fff;
  text-align: center;
}

.curvedbottom h1{
  font-size: 4rem;
  color: #fff;
  font-weight: bold;

  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 #52c68e,
     1px -1px 0 #52c68e,
    -1px 1px 0 #52c68e,
     1px 1px 0 #52c68e,
    -0px -5px 0px #52c68e;
}
.curvedbottom h1:hover{
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 #001f51,
     1px -1px 0 #001f51,
    -1px 1px 0 #001f51,
     1px 1px 0 #001f51,
    -0px -5px 0px #001f51;
}

.curvedbottom svg{
  display: block;
}

.curvedupper{

  background: #fff;
}
/*WAVE*/


/*WAVE2*/
.spacer{
  aspect-ratio: 2100/600;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.layer1{
background-image: url(../img/volt-flipflap03.png);
}
/*WAVE2*/

/*WAVEJIKAround*/
.spacer1{
  aspect-ratio: 2100/600;
  width: 100%;


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.layer1a{
background-image: url(../img/rounded1versiupdate.png);
}
/*WAVEJIKAround*/


/*WAVEORANGE*/
.spacer2{
  aspect-ratio: 2100/600;
  width: 100%;


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.layer2{
background-image: url(../img/volt-flipflapORANGE03.png);
}
/*WAVEORANGE*/


/*WAVENEWS*/
.spacernews{
  aspect-ratio: 2100/600;
  width: 100%;


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.layernews{
background-image: url(../img/volt-bluenewsresize.png);
}
/*WAVENEWS*/

/*WAVENEWS2*/
.spacernews1{
  aspect-ratio: 2100/600;
  width: 100%;


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.layernews2{
background-image: url(../img/volt-ZIPZIPORANGE03.png);
}
/*WAVENEWS2*/



.bd-example h5:hover{
  color: aqua;
}

.world h2{
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow:
     1px -1px 0 #fff,
     1px 1px 0 #001f51;
}

.champion h2{
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow:
     1px -1px 0 #fff,
     1px 1px 0 #001f51;
}


.gotonewspage a{
  text-decoration: none;
  
}
.gotonewspage a:hover{
  text-decoration: none;
  color: black;
  
}


/*BUTTON*/
.buttonstyle{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(-20deg);

}

.buttonstyle a{
  position: relative;
  width: 150px;
  height: 50px;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  background-color: #001029;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.buttonstyle a:hover{
  background-color: #fff;
  color: black;
  
}
/*BUTTON*/

/*textinsectionbackgroundround*/
.compete{
  padding-top: 20px;
  
  }

.compete p{
   font-size: 20px;
 }

 .compete h2{
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow:
   
     1px -1px 0 #fff,
 
     1px 1px 0 #001f51;

}

/*textinsectionbackgroundround*/


/*LOGO MID IN HEADER*/
@media screen and (max-width: 650px) and (min-width: 280px) {
  .welcome-text{
    position:absolute;
    top: 2.6%;
    text-align: center;
    left: 20%;
    right: 20%;
    width: 65%;
  }
  
  .welcome-text p{
    font-size: 12px;
  }
  
}

@media screen and (max-width: 700px) and (min-width: 580px){
  .welcome-text{
    position:absolute;
    top: 3.9%;
    left: 26%;
    right: 40%;
    text-align: center;
    width: 50%;
  }
  

}

@media screen and (max-width: 980px) and (min-width: 700px){
  .welcome-text{
    top: 4%;
    left: 30%;
    right: 40%;
    width: 42%;
  }

}

@media screen and (max-width: 1180px) and (min-width: 980px){
  .welcome-text{
    top: 4%;
    left: 32%;
    right: 39%;
    width: 39%;
  }

}
/*LOGO MID IN HEADER*/


/*LOGO GOOGLE DLL*/
@media screen and (max-width: 600px) and (min-width: 280px) {
  .logogoogledll{
    position:absolute;
    top: 40%;
    text-align: center;
    left: 39%;
    width: 26%;
  }

  
}

@media screen and (max-width: 700px) and (min-width: 600px){
  .logogoogledll{
    position:absolute;
    top: 40%;
    text-align: center;
    left: 39%;
    width: 26%;
  }
  

}

@media screen and (max-width: 980px) and (min-width: 700px){
  .logogoogledll{
    position:absolute;
    top: 40%;
    text-align: center;
    left: 40%;
    width: 20%;
  }

}

@media screen and (max-width: 1180px) and (min-width: 980px){
  .logogoogledll{
    position:absolute;
    top: 40%;
    text-align: center;
    left: 42%;
    width: 15%;
  }

}
/*LOGO GOOGLE DLL*/


/*TEXT*/
@media screen and (max-width: 800px) and (min-width: 280px) {
  .curvedbottom h1{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
  
    text-transform: uppercase;
    text-shadow:
      -1px -1px 0 #52c68e,
       1px -1px 0 #52c68e,
      -1px 1px 0 #52c68e,
       1px 1px 0 #52c68e,
      -0px -5px 0px #52c68e;
  }
  .curvedbottom h1:hover{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    
    text-transform: uppercase;
    text-shadow:
      -1px -1px 0 #001f51,
       1px -1px 0 #001f51,
      -1px 1px 0 #001f51,
       1px 1px 0 #001f51,
      -0px -5px 0px #001f51;
  }

  iframe{
    width: 100%;   
    height: 300;
 
    
  }

  .champion h2{
    font-size: 2.7rem;
  }

  .compete h2{
    font-size: 2.7rem;
  }

  .world h2{
    font-size: 2.7rem;
    text-shadow:
    -1px -1px 0 #001f51,
     1px -1px 0 #001f51,
    -1px 1px 0 #001f51,
     1px 1px 0 #001f51;

  }
}


/*CHARACTER IN SECTION*/
@media screen and (max-width: 700px) and (min-width: 574px){
  .champions{
    margin-top: 108px;
    width: 110%;
  }
  .champion h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow:
       1px -1px 0 #fff,
       1px 1px 0 #001f51;
  }
  .champion p{
    font-size: 11px;
  }
  


}

@media screen and (max-width: 980px) and (min-width: 650px){
  .champions{
    margin-top: 115px;
    width: 115%;
  }
  .champion h2{
    margin-top: 18px;
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow:
       1px -1px 0 #fff,
       1px 1px 0 #001f51;
  }
  .champion p{
    font-size: 12px;
  }
}

@media screen and (max-width: 1180px) and (min-width: 980px){
  .champions{
    margin-top: 10px;
    width: 110%;
  }
  .champion h2{
    margin-top: 10px;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow:
       1px -1px 0 #fff,
       1px 1px 0 #001f51;
  }
  .champion p{
    font-size: 13px;
  }

}
/*CHARACTER IN SECTION*/



/*Backgroun bulat*/
@media screen and (max-width: 576px) and (min-width: 200px){


.spacer1{
  aspect-ratio: 2100/600;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.layer1a{
background-image: url(../img/roundednostrip.png);

}

.backvid{
  display: none;
}


}

@media screen and (max-width: 700px) and (min-width: 574px){

  .spacer1{
    aspect-ratio: 2100/600;
    width: 100%;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }
  
  .layer1a{
  background-image: url(../img/roundednostrip.png);
  
  }
  
 
  .compete p{
    font-size: 11px;
  }
 
  .compete h2{
  padding-top: 0px;
   font-size: 2.2rem;
   text-transform: uppercase;
   font-weight: bold;
   text-shadow:
    
      1px -1px 0 #fff,
  
      1px 1px 0 #001f51;
 
 }


}

@media screen and (max-width: 980px) and (min-width: 700px){

  .spacer1{
    aspect-ratio: 2100/600;
    width: 100%;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }
  
  .layer1a{
  background-image: url(../img/roundednostrip.png);
  
  }
  
  .compete p{
    font-size: 12px;
  }
 
  .compete h2{
  padding-top: 10px;
   font-size: 2.2rem;
   text-transform: uppercase;
   font-weight: bold;
   text-shadow:
    
      1px -1px 0 #fff,
  
      1px 1px 0 #001f51;
 
 }

}

@media screen and (max-width: 1200px) and (min-width: 980px){

  .spacer1{
    aspect-ratio: 2100/600;
    width: 100%;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }
  
  .layer1a{
  background-image: url(../img/roundednostrip.png);
  
  }
  .compete p{
    font-size: 13px;
  }
 
  .compete h2{
  padding-top: 10px;
   font-size: 2.5rem;
   text-transform: uppercase;
   font-weight: bold;
   text-shadow:
    
      1px -1px 0 #fff,
  
      1px 1px 0 #001f51;
 
 }
 

}
/*Backgroun bulat*/
